@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Cairo', sans-serif;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* لون الخلفية (مثلاً dark slate) */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b82f6, #8b5cf6); /* أزرق + موف */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2563eb, #7c3aed);
}

/* في الملف العام */
app-navbar,
.navbar,
.mobile-bottom-nav,
.categories-scroll-bar {
  z-index: 998 !important;
}

.modal-overlay {
  z-index: 999999 !important;
}